.image{
    background: url(../images/high-angle-table-full-delicious-food-arrangement.jpg);
    height: 300px;
    background-size: cover;
    background-repeat: none;
    background-size: cover;
    
}

