.seca {background-color:hsl(272, 18%, 31%) ;
  
height: 100px;
max-width: ;
margin: auto;
border-top:#fff ;

border-bottom-left-radius: 20%;
border-bottom-right-radius:20% ;
border-color: #9dccd7;
color: #fff;




}

.aa{background-color: black;
height: 400px;
width: 400px;
transform: rotateX('45deg') rotateX('45 deg');
margin-top: 100px;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
margin-left: -200px;
opacity: #05c7f3;


}
button{background-color: grey;
color: white;
border-radius:10%;}
 fa-instagram{ height: 10px;}

 @keyframes {
    {
     from :left
     to :right   
    }
    }